body {
  background-color: #ff0;
  margin: 80px;
}

@font-face {
  font-family: myFont;
  src: url("assets/CairoMedium.ttf")format("truetype");
}

h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
      letter-spacing: 1px;
  display: inline;
  background-color: #ff0;
  color: #ff00ff;
  font-size: 100px;
}

h2 {
  font-family: 'ZCOOL KuaiLe', cursive;
  padding-top: 52px;
  color: #1998CB;
  margin-inline-start: 80px;
  letter-spacing: 1px;
  margin-block-end: 20px;
  font-size: 25px;
}

p, ul, ol {

  color: red;
  margin-block-start: -70px;
  font-family: myFont;
  margin-inline-start: 365px;
  font-size: 15px;
}

ul {
  margin-block-end: 100px;
}

ol {
  margin-block-start: -10px;
}

select {
  border: none;
  border: 2px solid red;
  background-color: #ff0;
}

textarea {
  border: none;
  border-bottom: 2px solid red;
  background-color: #ff0;
}

.filtered img {
  -webkit-filter: sepia(1);
  filter: sepia(1);
  opacity: 0.7;
}

img {
  width: 20%;
  margin-inline-start: 80px;
}
